<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	{% block style -%}
		<link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Roboto+Slab:wght@600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="./assets/css/style.min.css">
	{%- endblock %}
</head>
<body>
	{% block body -%}
		{% block header -%}
			{% include "templates/header.html" -%}
		{%- endblock %}
		{% block main -%}
			{% include "templates/newsticker.html" %}
			<section class="main-wrapper">
				<main class="content">
					{% block content -%}{%- endblock %}
				</main>
				{% block sidebar -%}
					{% include "templates/sidebar.html" %}
				{%- endblock %}
			</section>
			{% include "templates/progress-bar.html" %}
		{%- endblock %}
		{% block footer -%}
			{% include "templates/footer.html" -%}
		{%- endblock %}
	{%- endblock %}
	{% block scripts -%}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.Marquee/1.5.0/jquery.marquee.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
		<script src="./assets/js/script-min.js"></script>
	{%- endblock %}
</body>
</html>