<section class="container --flex --justify-between --mt-2">
	{% for item in range(0, 3) -%}
		<div class="column --w-one-third --mx-2">
			<div class="panel">
				<div class="panel__header">
					<h3 class="panel__heading">APBDes 2019 Pelaksanaan</h3>
				</div>
				<div class="panel__body">
					<div class="progress">
						<span class="progress__title">Pendapatan</span>
						<div class="--flex --justify-between">
							<span class="progress__subtitle">Rp9.025.000</span>
							<span class="progress__subtitle">Rp16.725.000</span>
						</div>

						<div class="progress-bar">
							<div class="progress-bar__item" style="width: 85%;">
								<span class="progress-bar__caption">85%</span>
							</div>
						</div>
					</div>
					<div class="progress">
						<span class="progress__title">Pendapatan</span>
						<div class="--flex --justify-between">
							<span class="progress__subtitle">Rp9.025.000</span>
							<span class="progress__subtitle">Rp16.725.000</span>
						</div>

						<div class="progress-bar">
							<div class="progress-bar__item" style="width: 35%;">
								<span class="progress-bar__caption">35%</span>
							</div>
						</div>
					</div>
					<div class="progress">
						<span class="progress__title">Pendapatan</span>
						<div class="--flex --justify-between">
							<span class="progress__subtitle">Rp9.025.000</span>
							<span class="progress__subtitle">Rp16.725.000</span>
						</div>

						<div class="progress-bar">
							<div class="progress-bar__item" style="width: 95%;">
								<span class="progress-bar__caption">95%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{%- endfor %}
</section>