<aside class="sidebar">
	<form action="" class="form form--sidebar">
		<input type="search" name="" class="form__input" placeholder="Cari...">
		<i class="fa fa-search form__icon"></i>
	</form>
	<div class="sidebar__item">
		<!-- widget Statistik -->
		<style type="text/css">
			.highcharts-xaxis-labels tspan {
				font-size: 8px;
			}
		</style>
		<div class="box box-primary box-solid">
			<div class="box-header">
				<h3 class="box-title"><a href="./statistics.html"><i class="fa fa-bar-chart"></i>
						Statistik Desa Sukaraya</a></h3>
			</div>
			<div class="box-body">
				<div id="container_widget" style="width: 100%; height: 300px; margin: 0px auto; overflow: hidden;"
					data-highcharts-chart="0">
					<div id="highcharts-hojmpg2-0" dir="ltr" class="highcharts-container "
						style="position: relative; overflow: hidden; width: 347px; height: 300px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none;">
						<svg version="1.1" class="highcharts-root"
							style="font-family:'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;font-size:12px;"
							xmlns="http://www.w3.org/2000/svg" width="347" height="300" viewBox="0 0 347 300">
							<desc>Created with Highcharts 8.1.1</desc>
							<defs>
								<clipPath id="highcharts-hojmpg2-1-">
									<rect x="0" y="0" width="262" height="198" fill="none"></rect>
								</clipPath>
							</defs>
							<rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="347" height="300" rx="0" ry="0">
							</rect>
							<rect fill="none" class="highcharts-plot-background" x="75" y="53" width="262" height="198"></rect>
							<g class="highcharts-grid highcharts-xaxis-grid" data-z-index="1">
								<path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 161.5 53 L 161.5 251" opacity="1">
								</path>
								<path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 249.5 53 L 249.5 251" opacity="1">
								</path>
								<path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 336.5 53 L 336.5 251" opacity="1">
								</path>
								<path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 74.5 53 L 74.5 251" opacity="1">
								</path>
							</g>
							<g class="highcharts-grid highcharts-yaxis-grid" data-z-index="1">
								<path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line"
									d="M 75 251.5 L 337 251.5" opacity="1"></path>
								<path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line"
									d="M 75 211.5 L 337 211.5" opacity="1"></path>
								<path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line"
									d="M 75 172.5 L 337 172.5" opacity="1"></path>
								<path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line"
									d="M 75 132.5 L 337 132.5" opacity="1"></path>
								<path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line"
									d="M 75 93.5 L 337 93.5" opacity="1"></path>
								<path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line"
									d="M 75 52.5 L 337 52.5" opacity="1"></path>
							</g>
							<rect fill="none" class="highcharts-plot-border" data-z-index="1" x="75" y="53" width="262" height="198">
							</rect>
							<g class="highcharts-axis highcharts-xaxis" data-z-index="2">
								<path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" data-z-index="7"
									d="M 75 251.5 L 337 251.5"></path>
							</g>
							<g class="highcharts-axis highcharts-yaxis" data-z-index="2"><text x="26.4375" data-z-index="7"
									text-anchor="middle" transform="translate(0,0) rotate(270 26.4375 152)" class="highcharts-axis-title"
									style="color:#666666;fill:#666666;" y="152">
									<tspan>Jumlah</tspan>
								</text>
								<path fill="none" class="highcharts-axis-line" data-z-index="7" d="M 75 53 L 75 251"></path>
							</g>
							<g class="highcharts-series-group" data-z-index="3">
								<g class="highcharts-series highcharts-series-0 highcharts-column-series highcharts-tracker"
									data-z-index="0.1" opacity="1" transform="translate(75,53) scale(1 1)"
									clip-path="url(#highcharts-hojmpg2-1-)">
									<rect x="17" y="126" width="53" height="73" fill="#7cb5ec" opacity="1"
										class="highcharts-point highcharts-color-0"></rect>
									<rect x="105" y="118" width="52" height="81" fill="#434348" opacity="1"
										class="highcharts-point highcharts-color-1"></rect>
									<rect x="192" y="45" width="53" height="154" fill="#90ed7d" opacity="1"
										class="highcharts-point highcharts-color-2"></rect>
								</g>
								<g class="highcharts-markers highcharts-series-0 highcharts-column-series" data-z-index="0.1"
									opacity="1" transform="translate(75,53) scale(1 1)" clip-path="none"></g>
							</g><text x="174" text-anchor="middle" class="highcharts-title" data-z-index="4"
								style="color:#333333;font-size:18px;fill:#333333;" y="24">
								<tspan>Jumlah Penduduk</tspan>
							</text><text x="174" text-anchor="middle" class="highcharts-subtitle" data-z-index="4"
								style="color:#666666;fill:#666666;" y="52"></text><text x="10" text-anchor="start"
								class="highcharts-caption" data-z-index="4" style="color:#666666;fill:#666666;" y="297"></text>
							<g class="highcharts-axis-labels highcharts-xaxis-labels" data-z-index="7"><text x="118.66666666666333"
									style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle"
									transform="translate(0,0)" y="270" opacity="1">
									<tspan>46</tspan>
									<tspan x="118.66666666666333" dy="14">LAKI-LAKI</tspan>
								</text><text x="206.00000000000335" style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
									text-anchor="middle" transform="translate(0,0)" y="270" opacity="1">
									<tspan>51</tspan>
									<tspan x="206.00000000000335" dy="14">PEREMPUAN</tspan>
								</text><text x="293.3333333333333" style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
									text-anchor="middle" transform="translate(0,0)" y="270" opacity="1">
									<tspan>97</tspan>
									<tspan x="293.3333333333333" dy="14">TOTAL</tspan>
								</text></g>
							<g class="highcharts-axis-labels highcharts-yaxis-labels" data-z-index="7"><text x="60"
									style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end"
									transform="translate(0,0)" y="255" opacity="1">0</text><text x="60"
									style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end"
									transform="translate(0,0)" y="215" opacity="1">25</text><text x="60"
									style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end"
									transform="translate(0,0)" y="176" opacity="1">50</text><text x="60"
									style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end"
									transform="translate(0,0)" y="136" opacity="1">75</text><text x="60"
									style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end"
									transform="translate(0,0)" y="97" opacity="1">100</text><text x="60"
									style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end"
									transform="translate(0,0)" y="57" opacity="1">125</text></g><text x="337" class="highcharts-credits"
								text-anchor="end" data-z-index="8" style="cursor:pointer;color:#999999;font-size:9px;fill:#999999;"
								y="295">Highcharts.com</text>
							<g class="highcharts-label highcharts-tooltip highcharts-color-1"
								style="white-space:nowrap;pointer-events:none;" data-z-index="8" transform="translate(156,-9999)"
								opacity="0" visibility="hidden">
								<path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow"
									d="M 3.5 0.5 L 98.5 0.5 C 101.5 0.5 101.5 0.5 101.5 3.5 L 101.5 44.5 C 101.5 47.5 101.5 47.5 98.5 47.5 L 56.5 47.5 L 50.5 53.5 L 44.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
									stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)">
								</path>
								<path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow"
									d="M 3.5 0.5 L 98.5 0.5 C 101.5 0.5 101.5 0.5 101.5 3.5 L 101.5 44.5 C 101.5 47.5 101.5 47.5 98.5 47.5 L 56.5 47.5 L 50.5 53.5 L 44.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
									stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)">
								</path>
								<path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow"
									d="M 3.5 0.5 L 98.5 0.5 C 101.5 0.5 101.5 0.5 101.5 3.5 L 101.5 44.5 C 101.5 47.5 101.5 47.5 98.5 47.5 L 56.5 47.5 L 50.5 53.5 L 44.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
									stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path>
								<path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box"
									d="M 3.5 0.5 L 98.5 0.5 C 101.5 0.5 101.5 0.5 101.5 3.5 L 101.5 44.5 C 101.5 47.5 101.5 47.5 98.5 47.5 L 56.5 47.5 L 50.5 53.5 L 44.5 47.5 L 3.5 47.5 C 0.5 47.5 0.5 47.5 0.5 44.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"
									stroke="#434348" stroke-width="1"></path><text x="8" data-z-index="1" y="20"
									style="color:#333333;cursor:default;font-size:12px;fill:#333333;">
									<tspan style="font-size: 10px">PEREMPUAN</tspan>
									<tspan style="fill:#434348" x="8" dy="15">●</tspan>
									<tspan dx="0"> Populasi: </tspan>
									<tspan style="font-weight:bold" dx="0">51</tspan>
								</text>
							</g>
						</svg></div>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar__item">
		<style type="text/css">
			button.btn {
				margin-left: 0px;
			}

			#collapse2 {
				margin-top: 5px;
			}

			button[aria-expanded=true] .fa-chevron-down {
				display: none;
			}

			button[aria-expanded=false] .fa-chevron-up {
				display: none;
			}

			.tabel-info {
				width: 100%;
			}

			.tabel-info,
			tr {
				border-bottom: 1px;
				border: 0px solid;
			}

			.tabel-info,
			td {
				border: 0px solid;
				height: 30px;
				padding: 5px;
			}
		</style>
		<!-- widget Peta Lokasi Kantor Desa -->
		<div class="box box-primary box-solid">
			<div class="box-header">
				<h3 class="box-title">
					<i class="fa fa-map-marker"></i>Lokasi Kantor Desa </h3>
			</div>
			<div class="box-body">
				<button class="btn btn-success btn-block"><a
						href="https://www.openstreetmap.org/#map=15/-8.483832804795249/116.08523368835449" style="color:#fff;"
						target="_blank">Buka Peta</a></button>
				<button class="btn btn-success btn-block" data-toggle="collapse" data-target="#collapse2" aria-expanded="false">
					Detail
					<i class="fa fa-chevron-up pull-right"></i>
					<i class="fa fa-chevron-down pull-right"></i>
				</button>
				<div id="collapse2" class="panel-collapse collapse">
					<br>
					<div class="info-desa">
						<table class="table-info">
							<tbody>
								<tr>
									<td width="25%">Alamat</td>
									<td>:</td>
									<td width="70%">Jl. Andi Makassau, No. 12, Dusun Sidodadi</td>
								</tr>
								<tr>
									<td width="25%">Desa </td>
									<td>:</td>
									<td width="70%">Sukaraya</td>
								</tr>
								<tr>
									<td width="25%">Kecamatan</td>
									<td>:</td>
									<td width="70%">Bone-Bone</td>
								</tr>
								<tr>
									<td width="25%">Kabupaten</td>
									<td>:</td>
									<td width="70%">Luwu Utara</td>
								</tr>
								<tr>
									<td width="25%">Kodepos</td>
									<td>:</td>
									<td width="70%">92966</td>
								</tr>
								<tr>
									<td width="25%">Telepon</td>
									<td>:</td>
									<td width="70%">0471-827265</td>
								</tr>
								<tr>
									<td width="25%">Email</td>
									<td>:</td>
									<td width="70%">pengaduan@sukaraya.luwuutarakab.go.id</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>