<aside class="sidebar">
	<form action="" class="form form--sidebar">
		<input type="search" name="" class="form__input">
		<i class="fa fa-search form__icon"></i>
	</form>
	{% for i in range(0, 5) %}
		<div class="panel panel--sidebar">
			<div class="panel__header">
				<h3 class="panel__heading">Info desa</h3>
			</div>
			<div class="panel__body">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga perspiciatis dignissimos exercitationem earum laboriosam, ea, fugit sint ab quae velit dolore quo rerum eligendi, animi ullam. Dolorum eos distinctio neque exercitationem voluptatibus possimus debitis necessitatibus doloribus voluptate voluptatum eaque mollitia nulla totam magni ab rerum qui pariatur rem quia sed iste quo voluptates, cupiditate unde. Illo quia exercitationem corporis cumque adipisci dolorem accusamus ea fugit.
			</div>
		</div>
	{% endfor %}
</aside>