<footer class="bg-gray-800 text-white mt-10">
  <div class="max-w-[1200px] mx-auto px-5 lg:px-0 py-5 space-y-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, quas? Officia minima illum, impedit nisi exercitationem itaque voluptatibus illo aliquam. Quam dolore fugit hic nobis autem? Praesentium a recusandae quo.
  </div>
  <div class="py-3 text-sm bg-gray-900" x-data="{ year: new Date().getFullYear() }">
    <div class="max-w-[1200px] mx-auto px-5 lg:px-0">
      Hak cipta &copy; <span x-text="year"></span> - Desa Sukaraya. Diberdayakan oleh OpenSID & Tema Cosmo.
    </div>
  </div>
</footer>