<header>
  <div class="bg-primary text-white text-sm py-1">
    <div class="max-w-[1200px] mx-auto flex items-center">
      <span class="px-2 lg:px-5 py-1 font-medium bg-secondary inline-block flex-shrink-0" x-data="{now: new Date().toLocaleDateString()}" x-text="now">Today</span>
      <marquee behavior="" direction="left" class="my-0 mx-0 leading-tight inline-block">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est sunt repellat tenetur nobis animi eos corporis! Voluptatem quis, incidunt saepe veniam rerum nihil laudantium, tenetur velit a alias expedita ipsa.
      </marquee>
    </div>
  </div>
  <div class="bg-pattern border-b border-gray-100 bg-white">
    <div class="max-w-[1200px] mx-auto flex justify-center items-center py-3">
      <a href="" class="block space-y-1">
        <img src="./assets/img/luwu-utara.png" alt="" class="h-16 w-auto mx-auto">
        <h1 class="text-lg lg:text-xl font-bold text-primary">Sistem Informasi Desa Sukaraya</h1>
      </a>
    </div>     
  </div>
</header>
{% include "partials/navbar.html" %}