{% set menus = [
  {
    name: 'Profil',
    hasChildren: true,
    isActive: false,
    submenu: [
      'Visi Misi',
      'Gambaran Umum Desa',
      'Sejarah Desa'
    ]
  },
  {
    name: 'Sarana dan Prasarana',
    hasChildren: false,
    isActive: false,
    submenu: []
  },
  {
    name: 'Data Desa',
    hasChildren: true,
    isActive: false,
    submenu: [
      'Demografi',
      'Topografi',
      'Spasial'
    ]
  },
  {
    name: 'Peta',
    hasChildren: false,
    isActive: false,
    submenu: []
  },
  {
    name: 'Informasi Publik',
    hasChildren: false,
    isActive: false,
    submenu: []
  },
  {
    name: 'Produk Hukum',
    hasChildren: false,
    isActive: false,
    submenu: []
  },
  {
    name: 'Berita',
    hasChildren: false,
    isActive: false,
    submenu: []
  },
  {
    name: 'Kontak',
    hasChildren: false,
    isActive: false,
    submenu: []
  }
] -%}
<nav class="shadow sticky top-0 z-10 transition" id="top-nav"
  x-data="{ navReach: false }"
  @scroll.window="navReach = (window.pageYOffset > document.querySelector('#top-nav').getBoundingClientRect().top + 150)"
  :class="navReach ? 'bg-primary text-white' : 'bg-white'">

  <div class="max-w-[1200px] mx-auto flex justify-between relative" x-data="{ openMore: false, openMenu: false }">
    <button class="h-[inherit] inline-block lg:hidden py-3 px-4" @click="openMenu = !openMenu" aria-label="open menu">
      <i class="fa fa-lg" :class="!openMenu ? 'fa-bars' : 'fa-times'"></i>
    </button>

    <div class="lg:block fixed lg:relative lg:translate-y-0 w-full top-0 left-0 h-screen lg:h-auto z-50 transform px-2 lg:px-0 py-4 lg:py-0 -translate-y-full"
      :class="openMenu ? 'translate-y-0 bg-white text-gray-700 lg:bg-transparent' : ''">
      <ul class="w-full divide-y divide-gray-200 lg:divide-y-0">
        {% for menu in menus -%}
          <li class="lg:inline-block relative group">
            <a href="" class="block lg:inline-block py-3 px-2 font-medium border-b-2 border-transparent transition duration-200 hover:text-secondary hover:border-secondary">{{ menu.name }} {% if menu.hasChildren %}<i class="fa fa-chevron-down fa-sm ml-1"></i>{% endif %}</a>
            {% if menu.hasChildren %}
              <ul class="absolute top-full left-[-100vw] w-[250px] bg-white text-gray-700 shadow divide-y divide-gray-200 opacity-0 z-[-1] group-hover:left-0 group-hover:z-10 group-hover:opacity-100 transition delay-100 duration-300">
                {% for menu in menu.submenu %}
                  <li>
                    <a href="#" class="block py-2 px-5 hover:text-secondary font-medium">{{ menu }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {%- endfor %}
      </ul>
    </div>

    <button class="h-[inherit] font-medium px-5 align-middle inline-flex items-center bg-secondary text-white border-0" @click="openMore = !openMore"><i class="fa fa-ellipsis-v"></i></button>
    <div class="absolute right-0 top-full bg-white shadow-lg w-64 mt-px z-20" x-show="openMore"  @click.outside="openMore = false">
      <ul class="divide-y divide-gray-200">
        <li>
          <a href="#" class="inline-block py-3 px-5 font-medium text-gray-700 hover:text-secondary"><i class="fa fa-check mr-1 fa-sm"></i> Layanan Mandiri</a>
        </li>
        <li>
          <a href="#" class="inline-block py-3 px-5 font-medium text-gray-700 hover:text-secondary"><i class="fa fa-sign-in-alt fa-sm mr-1"></i> Login Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>