.container {
	@apply mx-auto max-w-container;

	@screen sm {
		max-width: theme('screens.sm');
	}

	@screen md {
		max-width: theme('screens.md');
	}

	@screen lg {
		@apply max-w-container;
	}
}

.column {
	@apply max-w-full;

	@screen lg {
		@apply w-full;

		&:first-child {
			@apply ml-0;
		}
	
		&:last-child {
			@apply mr-0;
		}
	}
}