.--mt-2 {
	@apply mt-2;
}

.--mx-1 {
	@apply mx-1;
}

.--mx-2 {
	@apply mx-2;
}

.--mb-2 {
	@apply mb-2;
}

.--mt-4 {
	@apply mt-4;
}

.--mb-4 {
	@apply mb-4;
}

.--mt-5 {
	@apply mt-5;
}

.--mt-10 {
	@apply mt-10;
}

.--mb-10 {
	@apply mb-10;
}