{% set title = '6 Alasan Mengapa Anda Harus Berkunjung Ke Luwu Utara' -%}
{% extends "templates/master.html" -%}

{% set socials = [
	{
		name: 'facebook',
		icon: 'facebook'
	},
	{
		name: 'twitter',
		icon: 'twitter'
	},
	{
		name: 'telegram',
		icon: 'telegram'
	},
	{
		name: 'whatsapp',
		icon: 'whatsapp'
	}
] -%}
{% block content -%}
	<h2 class="content__heading">6 Alasan Mengapa Anda Harus Berkunjung Ke Luwu Utara</h2>
	<div class="content__meta">
		<span class="content__meta__item"><i class="fa fa-calendar content__meta__icon"></i> 20 Februari 2020</span>
		<span class="content__meta__item"><i class="fa fa-user content__meta__icon"></i> Admin</span>
		<span class="content__meta__item"><i class="fa fa-tag content__meta__icon"></i> <a href="" class="content__link">Berita Desa</a></span>
	</div>
	<hr class="--mt-2 --mb-2">
	<img src="https://preview.silirdev.com/desa/upload/artikel/kecil_1593215769_tugu-kakao_20170213_124326.jpg" alt="" class="content__image --mb-4">
	<article class="content__article">
		<p>Kalau membahas Luwu Utara tentu tidak akan ada habisnya. Kabupaten dengan sebutan Bumi Lamaranginang ini terkenal dengan eksotik alamnya serta keunikan ragam budaya dan kuliner. Saat ini Luwu Utara sudah banyak dilirik oleh para wisatawan lokal maupun luar kota.</p>
		<p>Mungkin untuk sebagian orang yang belum pernah menginjakkan kakinya di Luwu Utara, akan bertanya-tanya apa yang membuat banyak orang berkunjung ke daerah ini? Nah! Kali ini tim redaksi akan mengulas 6 alasan kenapa Anda harus mengunjungi Luwu Utara.</p>
		<p><strong>1. Sensasi Berselimut Awan di Rongkong Tana Masakke</strong></p>
		<p>Puncak Rongkong, salah satu "surga tersembunyi" destinasi wisata, yang terletak di Kecamatan Rongkong. Wilayah dengan panorama alam yang mempesona dipadu dengan kebudayaan dan tradisi yang masih terus dipertahankan ini, dapat dikunjungi wisatawan yang ingin menikmati sensasi berselimut awan.</p>
		<p><strong>2. Wisata Arung Jeram Sungai Rongkong</strong></p>
		<p>Sungai Rongkong cukup ideal untuk dijadikan sebagai tempat wisata olahraga arung jeram. Sungai Rongkong tergolong sungai kelas 3 - 4 (intermediate) dengan gradiant 12-15 m/km, yaitu aliran air dengan riam (arus) sedang dan tidak beraturan. Kondisi arus sungai seperti ini mengindikasikan bahwa aliran Sungai Rongkong tidak terlalu curam dan tidak memiliki jeram-jeram yang berbahaya. Meskipun demikian, arus sungai ini tetap menjadi tantangan bagi Anda untuk menguji adrenalin karena jeram-jeramnya cukup rapat.</p>
		<p><strong>3. Kuliner Khas</strong></p>
		<p>Tidak usah diragukan lagi, kalau Luwu Utara memang memiliki ragam kuliner. Mulai dari makanan khas dan jajanan unik yang selalu diburu oleh para wisatawan yang berkunjung. Tidak jarang pengunjung sengaja datang jauh-jauh hanya untuk mencicipi makanan khas Luwu Utara yang legendaris dan terkenal dengan rasanya yang unik. Diantara kuliner khas Luwu Utara yakni, pugalu, parede, lawak, pacco, pisang balanda, cuccuru dan sebagainya.</p>
		<p><strong>4. Hotel dan Penginapan Murah</strong></p>
		<p>Jika Anda memutuskan untuk menginap di Luwu Utara, tidak perlu khawatir dan bingung untuk mencari tempat menginap dengan harga yang murah tapi tetap memiliki fasilitas yang bagus. Mulai dari hotel dengan fasilitas yang biasa saja sampai yang luar biasa semua ada di Luwu Utara.</p>
		<p><strong>5. Biar Eksis dengan Gaya Kekinian</strong></p>
		<p>Tentu Anda tidak mau ketinggalan eksis karena belum pernah datang ke Luwu Utara. Saat ini di Luwu Utara, sudah banyak tempat wisata yang menyuguhkan spot untuk ber-selfie dan wajib diupdate ke Social Media. Diantaranya Taman Sulikan Kota Masamba, Bukit Teletubies di Balebo, Air Terjun di sukaraya dan Sarambualla, serta Kawasan Tugu Kakao di Gerbang Kota Masamba.&nbsp;</p>
		<p><strong>6.Transportasi Mudah dan Lengkap</strong></p>
		<p>Jangan bingung kalau mau datang ke Luwu Utara. Karena fasilitas transportasi banyak dan lengkap. Baik akses udara maupun darat. Jika Anda sudah sampai di Kabupaten Luwu Utara pun tak perlu khawatir untuk menggunakan transportasinya. Karena banyak pilihan jenis transportasi seperti angkutan umum, becak, dan juga ojek. (ikp/hms)</p>
		<table>
			<tbody>
				<tr>
					<td>Utara</td>
					<td>Desa Muktisari</td>
				</tr>
				<tr>
					<td>Timur</td>
					<td>Desa Tamuku</td>
				</tr>
				<tr>
					<td>Selatan</td>
					<td>Desa Sadar</td>
				</tr>
				<tr>
					<td>Barat</td>
					<td>Desa Mulyorejo</td>
				</tr>
			</tbody>
		</table>
		<ol>
			<li style="text-align: left;">Memberikan pelayanan yang baik dan mudah kepada masyarakat kapanpun dan dimanapun tanpa didasari perbedaan suku, agama ataupun golongan serta tidak memposisikan Pemerintah Desa sebagai penguasa akan tetapi merupakan pelayan bagi semua masyarakat.</li>
			<li style="text-align: left;">Meningkatkan kapasitas, Citra, Harkat dan Martabat Pemerintah Desa serta menjaga dan meningkatkan tolenrasi antar umat beragama.</li>
			<li style="text-align: left;">Mengupayakan terwujudnya Sarana dan Prasarana untuk kegiatan generasi muda dalam menyalurkan bakat olah raga.</li>
			<li style="text-align: left;">Melanjutkan beberapa program yang belum terealisasi yang termuat dalam RPJMDes 2013-2019.</li>
			<li style="text-align: left;">Menciptakan pemerintah yang transparan, jujur, dan adil.</li>
		</ol>
		<div class="content__attachment --mt-4">
			<strong>Dokumen Lampiran</strong>
			<a href="#" class="content__attachment__link">
				<i class="fa fa-cloud-download content__attachment__icon"></i>
				<span>Pidato Perayaan Kemerdekaan 2016 di Desa Sukaraya</span>
			</a>
		</div>
	</article>
	<div class="--mb-10 --mt-10">
		<span>Bagikan artikel ini:</span>
		<ul class="social-media">
			{% for social in socials -%}	
				<li class="social-media__item social-media--{{ social.name }}">
					<a href="#" class="social-media__link"><i class="fa fa-{{ social.icon }}"></i></a>
				</li>
			{%- endfor %}
		</ul>
	</div>
	<div class="--mt-4">
		<div id="disqus_thread"></div>
	</div>
	<script>
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://celebiz.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
{%- endblock %}