{% set title = 'Home' -%}
{% extends "templates/master.html" -%}

{% set sliderImages = [
	'sedang_8UYMsv_desa4.jpg',
	'sedang_OiUlp7_desa5.jpg',
	'sedang_8UYMsv_desa4.jpg',
	'sedang_OiUlp7_desa5.jpg',
	'sedang_8UYMsv_desa4.jpg'
] -%}
{% set contents = [
	{
		title: '6 Alasan Mengapa Anda Harus Berkunjung Ke Luwu Utara',
		description: 'Luwu Utara--Kalau membahas Luwu Utara tentu tidak akan ada habisnya. Kabupaten dengan sebutan Bumi Lamaranginang ini terkenal dengan eksotik alamnya serta keunikan ragam budaya dan kuliner. Saat ini Luwu Utara sudah banyak dilirik oleh para wisatawan lokal maupun luar kota.',
		thumbnail: 'https://preview.silirdev.com/desa/upload/artikel/kecil_1593215769_tugu-kakao_20170213_124326.jpg',
		publishedAt: '20 Januari 2020',
		category: 'Berita Desa'
	},
	{
		title: 'Dimulai dari Desa, Pemkab Luwu Utara Bangun dan Tumbuhkan Industri Kreatif',
		description: 'Luwu Utara--Bupati Luwu Utara, Indah Putri Indriani membuka secara resmi Pameran Pembangunan Inovasi Desa dan UMKM di Kecamatan Sukamaju, Rabu (25/4). Pameran yang diikuti oleh 166 Desa se Kabupaten Luwu Utara ini merupakan upaya pemerintah membangun dan menumbuhkan industri kreatif.',
		thumbnail: 'https://preview.silirdev.com/desa/upload/artikel/kecil_1591617576_Indah_Putri_Indriani_546_(13)%20(1).jpg',
		publishedAt: '20 Januari 2020',
		category: 'Berita Regional'
	},
	{
		title: 'Dinas Kominfo Gelar Bimtek Website untuk Aparat Desa se-Kabupaten Luwu Utara',
		description: 'Luwu Utara--Dinas Komunikasi dan Informatika (Kominfo) Kabupaten Luwu Utara menggelar Bimbingan Teknis (Bimtek) Website untuk admin/ operator aparat desa se Kabupaten Luwu Utara. Dibuka secara resmi oleh Kepala Dinas Kominfo Luwu Utara, Arief R Palallo bimtek tersebut berlangsung di Ruang Rapat Wakil Bupati, Selasa (4/9) hingga Kamis (6/9).',
		thumbnail: 'https://preview.silirdev.com/desa/upload/artikel/kecil_1591617019_bimtek.jpg',
		publishedAt: '20 Januari 2020',
		category: 'Berita Regional'
	},
	{
		title: 'Update Corona 25 Juni 2020: Tiga Pelajar Terpapar Covid-19',
		description: 'Luwu Utara--Kurang lebih dua minggu tidak ada penambahan kasus konfirmasi positif covid-19 di Kabupaten Luwu Utara. Kondisi ini tentu sangat menggembirakan, karena diperkuat oleh tingginya tingkat kesembuhan covid-19 di Luwu Utara, yakni 82,2%. Kondisi yang sebetulnya semakin membaik ini, sedikit terkubur oleh kabar yang kurang menggembirakan',
		thumbnail: 'https://preview.silirdev.com/desa/upload/artikel/kecil_1593215801_04a0553026fcddf4505bb9619f713e5a.jpg',
		publishedAt: '29 Juni 2020',
		category: 'Berita Regional'
	}
] -%}
{% block content -%}
	<section class="slider">
		<ul class="slider__list slick-featured">
			{% for image in sliderImages %}
				<li class="slider__item slider__item--original">
					<img src="https://preview.silirdev.com/desa/upload/galeri/{{ image }}" alt="" class="slider__image">
					<div class="slider__caption">
						<figcaption>{{ ['Lorem ipsum dolor sit, amet consectetur adipisicing elit.', 'Corporis architecto ad nihil expedita earum provident, aliquam aperiam saepe dolore!', 'Magnam assumenda dignissimos? Consequuntur, laboriosam nam.', 'Hello world'] | random }}</figcaption>
					</div>
				</li>
			{% endfor %}
		</ul>
		<ul class="slider__list slick-thumbnail">
			{% for image in sliderImages %}
				<li class="slider__item slider__item--thumbnail">
					<img src="https://preview.silirdev.com/desa/upload/galeri/{{ image }}" alt="" class="slider__image">
				</li>
			{% endfor %}
		</ul>
		<button class="slider__arrow slider__arrow--left"><i class="fa fa-chevron-left"></i></button>
		<button class="slider__arrow slider__arrow--right"><i class="fa fa-chevron-right"></i></button>
	</section>
	<section class="headline">
		<div class="headline__caption">
			<h4 class="headline__title"><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>
			<p class="headline__description">Eaque itaque inventore dicta animi quis beatae nostrum at, perferendis, ullam assumenda praesentium saepe atque doloribus eius natus minima earum excepturi, rerum similique laudantium quae ipsam repudiandae. Dignissimos in, provident, repellat voluptate error nisi dolores officia dolor voluptates incidunt corporis repellendus hic itaque! Quasi...</p>
		</div>
		<div class="headline__thumbnail">
			<img src="http://sukaraya.luwuutarakab.go.id/content/uploads/images/Upacara_Peringatan_Hari_Otonomi_Daerah_XX_(5).jpg" alt="" class="headline__image">
		</div>
	</section>
	<section id="news-list">
		<h3 class="content__heading"><i class="fa fa-newspaper-o"></i> Berita terbaru</h3>
		<ul class="content__list">
			{% for news in contents -%}
				<li class="content__item">
					<div class="content__thumbnail">
						<img src="{{ news.thumbnail }}" alt="" class="content__image">
					</div>
					<div class="content__caption">
						<h4 class="content__title"><a href="" class="content__link">{{ news.title }}</a></h4>
						<div class="content__meta">
							<span class="content__meta__item"><i class="fa fa-calendar"></i> {{ news.publishedAt }}</span>
							<span class="content__meta__item"><i class="fa fa-user"></i> Admin</span>
							<span class="content__meta__item"><i class="fa fa-tag"></i> <a href="" class="content__link">{{ news.category }}</a></span>
						</div>
						<p class="content__description">{{ news.description }}</p>
					</div>
				</li>
			{%- endfor %}
		</ul>
		<ul class="pagination">
			<li class="pagination__item">
				<a href="" class="pagination__link"><i class="fa fa-chevron-left"></i></a>
			</li>
			{% for num in range(1, 7) %}
				<li class="pagination__item {{ "pagination__item--active" if num == 1 }}">
					<a href="" class="pagination__link">{{ num if num < 4 else num+4 }}</a>
				</li>
				{% if loop.index0 == 2 %}
					<li class="pagination__item">
						<a href="" class="pagination__link">...</a>
					</li>
				{% endif %}
			{% endfor %}
			<li class="pagination__item">
				<a href="" class="pagination__link"><i class="fa fa-chevron-right"></i></a>
			</li>
		</ul>
	</section>
{%- endblock %}