{% set title = 'Home page' -%}
{% extends "templates/master.html" -%}

{% block content -%}
  <section class="container max-w-[1200px] mx-auto">
    {% set sliders = [
      'https://preview.silirdev.com/desa/upload/galeri/sedang_8UYMsv_desa4.jpg',
      'https://preview.silirdev.com/desa/upload/galeri/sedang_OiUlp7_desa5.jpg',
      'https://preview.silirdev.com/desa/upload/galeri/sedang_zcuftR_Image-25.jpg'
    ] -%}
    <div class="w-full h-[250px] lg:h-[420px] bg-gray-300 flex items-center justify-center relative swiper-container overflow-visible">
      <div class="swiper-wrapper h-[inherit]">
        {% for slider in sliders %}
          <img src="{{ slider }}" alt="Slider {{ loop.index }}" class="swiper-slide h-[inherit] w-auto object-cover object-center">
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <button class="absolute top-1/2 left-0 lg:-mx-2 bg-secondary text-white h-8 w-8 inline-flex items-center justify-center swiper-button prev-slide z-10"><i class="fa fa-chevron-left"></i></button>
      <button class="absolute top-1/2 right-0 lg:-mx-2 bg-secondary text-white h-8 w-8 inline-flex items-center justify-center swiper-button next-slide z-10"><i class="fa fa-chevron-right"></i></button>
    </div>

    <section class="space-y-5 mt-5 px-3 lg:px-0">
      <h2 class="text-2xl font-bold border-l-4 border-secondary px-3">Artikel Terkini</h2>
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-5">
        {% for i in range(0, 6) %}
          {% set image = [
            'https://preview.silirdev.com/desa/upload/galeri/sedang_8UYMsv_desa4.jpg',
            'https://preview.silirdev.com/desa/upload/galeri/sedang_OiUlp7_desa5.jpg',
            'https://preview.silirdev.com/desa/upload/artikel/sedang_1591617019_bimtek.jpg'
          ] | random -%}
          <div class="group shadow transition hover:shadow-lg">
            <div class="h-48 bg-gray-300 overflow-hidden">
              <img src="{{ image }}" alt="artikel {{ loop.index }}" class="w-full h-full object-cover transition transform group-hover:scale-[1.1]">
            </div>
            <div class="px-4 py-3 space-y-2">
              <div class="flex justify-between text-xs text-gray-500">
                <span><i class="fa fa-calendar-alt mr-1 text-secondary"></i> 14 Mar 2020</span>
                <span><i class="fa fa-user mr-1 text-secondary"></i> Administrator</span>
              </div>
              <h3 class="text-lg text-primary leading-tight font-bold transition hover:text-secondary">
                <a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit</a>
              </h3>
              <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid placeat....</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <section class="space-y-2">
        <p class="text-sm">Halaman 1 dari 4</p>
        <ul class="w-auto space-x-1">
          {% for i in range(1, 5) %}
            <li class="inline-block py-1 px-2 rounded {{ "bg-secondary text-white px-3" if i == 1 }}">{{ i }}</li>
          {% endfor %}
        </ul>
      </section>
    </section>
  </section>
{%- endblock %}