.button {
	@apply inline-block py-1 px-3 rounded shadow mx-1;

	&--primary {
		@apply bg-primary text-white;
	}

	&__switch {
		&--active {
			@apply text-gray-600 bg-white;
		}
	}

	&--menu {
		@apply shadow-none mt-2 mb-1 border mx-4 text-center border-primary text-primary;

		@screen lg {
			@apply hidden my-0;
		}
	}

	&:active,
	&:focus {
		@apply outline-none;
	}
}