.pagination {
	@apply flex justify-center flex-wrap my-2;

	&__item {
		@apply mx-1 rounded-md bg-white shadow my-1;

		&--active {
			@apply bg-primary text-white;
		}
	}

	&__link {
		@apply inline-block py-1 px-3;

		.fa {
			@apply font-normal text-xs;
		}
	}
}