.progress {

	&+& {
		@apply mt-3;
	}

	&__title {
		@apply font-semibold;
	}

	&__subtitle {
		@apply text-sm text-gray-600;
	}
}

.progress-bar {
	@apply h-5 w-full overflow-hidden rounded-md shadow-sm bg-primary relative;

	&__item {
		@apply w-0 h-full flex items-center bg-secondary;
	}

	&__caption {
		@apply text-sm text-right block absolute right-0 text-white pr-2;
	}
}