
.social-media {
	@apply flex;

	&__item {
		@apply mx-1 text-white rounded-full overflow-hidden my-1;
	}

	&__link {
		@apply inline-flex text-center items-center justify-center h-8 w-8; 
	}

	&--facebook {
		background-color: #1877F2;
	}

	&--twitter {
		background-color: #1DA1F2;
	}

	&--instagram {
		background-color: #E1306C;
	}

	&--youtube {
		background-color: #FF0000;
	}

	&--telegram {
		background-color: #0088cc;
	}

	&--whatsapp {
		background-color: #25D366;
	}
}